/* Aca se resetea la configuracion que trae el HTML por defecto */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    vertical-align: middle;
  }

/* Modificacion del nav */
ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.linkNav{
    
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;    
}

img {
    max-width: 100%;
    height: auto;
}

section{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

#logoNav{
    width: 55px;
    height: 55px
}

/*  Banner  */
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

#imgBanner{
    width: 100%;
    height: auto;
    border-radius: 25px;
}

#bloqueTextBanner{

}

#textBanner{
    font-size: x-large;
    margin: 3px;
}

/*  Servicios  */

#servicios{
    background-color: gray;
    margin-top: 2%;
}

.imagen_Servicios{
    /*  */
    width: 300px;
    height: 150px;
}

.TituloServiciosBloque{
    width: 12%;
}

.TituloServicios{
    font-size: large;
    align-items: center;
    text-align: center;
}

.DescripcionServiciosBloque{
    width: 50%;
    text-align: center;
}

.DescripcionServicios{

}

.infoBloque{
    width: 5%;
    text-align: center;
}

.info{
    border: 0px solid transparent;
}

/*  Laboratorio  */

#laboratorio{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    
}

.Bloque_Laboratorio{
    padding-top: 15px;
    margin-right: 10px;
    border: 1px solid black;
}

.bloqueImagen_Laboratorio{
    align-items: center;
    width: 60%;
}

.imagen_Laboratorio{
    width: 500px;
    height: 300px;
}

.bloqueContenido_Laboratorio{
    width: 40%;
    text-align: center;
}

.descripcion_Laboratorio{
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.boton_Laboratorio{
    margin-top: 15px;
}

/*  Profesionales  */

#profesionales{
    background-color: gray;
    
}

#TablaProfesionales{
    display: flex;
    justify-content: center;
}

.imagen_Profesionales{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid black;
}

/*  Turnos  */

#turnos{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  Consulta  */

#consulta{
    background-color: gray;
}

/*  Footer  */

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.footerBloque{
    align-items: center;
}

#spaceFooter{
    
}