/* Aca se resetea la configuracion que trae el HTML por defecto */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    vertical-align: middle;
  }

/* Modificacion del nav */
ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.linkNav{
    
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;    
}

img {
    max-width: 100%;
    height: auto;
}

section{
    margin-left: 5%;
    margin-right: 5%;
}

#logoNav{
    width: 55px;
    height: 55px
}

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

#imgBanner{
    width: 100%;
    height: auto;
    border-radius: 25px;
}

#bloqueTextBanner{

}

#textBanner{
    
}

#servicios{
    background-color: gray;
    margin-top: 2%;
}

.imagen_Servicios{
    width: 300px;
    height: 150px;
}

.TituloServicios{
    font-size: large;
    align-items: center;
    text-align: center;
}

.DescripcionServicios{

}

#laboratorio{
    background-color: aliceblue;
}

.imagen_Laboratorio{
    width: 500px;
    height: 300px;
}

#profesionales{
    background-color: gray;
}

.imagen_Profesionales{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid black;
}

#turnos{
    background-color: aliceblue;
}

#consulta{
    background-color: gray;
}

/* Boton de "+INFO" */
.+info{

}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerBloque{
    align-items: center;
}

#spaceFooter{
    
}